body {
  background-color: rgb(6, 232, 66);
  padding: 20px;
}

/* Navigation bar background */
nav {
    background-color: pink;
}

/* top nav bar styling */

.topshelf {
/* nav bar styling class */
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

.topshelf li {
    display: inline-block; /* displays links horizontally instead of vertically */
    margin: 0 15px;
}

.topshelf a {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color:white;
    text-align: center;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 30px 0;
}

/* ----- Hero styling ----- */
    .hero {
        position: relative;
    }

    .hero header {
        position: absolute;
        top: 175px;
        left: 0;
        right: 0;
        text-align: center;
        color: rgba(243, 246, 255, 0.89);
        text-shadow: 1px 1px 10px #000000;
    }
    
    .hero img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        width: 100%;
        height: 555px;
        object-fit: cover;
    }

    /* blockquote styling*/

    .hero blockquote {
        text-align: center;
        max-width: 100%;
        margin: 0;
        font-weight: bold;
        font-size: 22px;
        background-color: #628578;
        color: #f3f6ff;
        padding-top: 3%;
    }

    .hero cite {
        display: block;
        text-align: center;
        color: #e0e4a0;
        background-color: #628578;
        padding-top: 1%;
        padding-bottom: 3%;
    }

/* image styling */
img {
    max-width: 400px;
    max-height: 500px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* image gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 400px);

    justify-content: center;

    gap: 50px;
}

.gallery img {
    max-width: 400px;
    max-height: 500px;

    width: auto;
    height: auto;

    justify-self: center;
    align-self: center;
}

.pinkText {
    color: pink;
}

/* reusable card template */

.support-card-group { /* parent class */
 text-align: center;
}

.support-card {
 display: inline-block;
 max-width: 400px;
 max-height: 500px;
 height: auto;
 background-color: red;
 padding: 10px;
 padding-bottom: 35px;
 margin: 1%;
 font-family: Tahoma, sans-serif;
 color:white;
}

.support-card h3 {
 text-align: center;
 font-size: 20px;
}

.support-card cite {
 display: block;
 text-align: center;
 margin-top: -10px;
 margin-bottom: 4%;
}

.support-card img {
 display: block;
 max-width: 70%;
 margin: 0 auto;
 padding-bottom: 7%;
}

.support-card p {
 width: fit-content;
 margin: 0 auto;
 padding-left: 5%;
 text-align: center;
}