

li {
    /* Space between each link */
    margin-bottom: 10px;
}

a {
    /* Link text customization */
    color: greenyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}