body {
  background-color: rgb(23, 23, 23);
  padding: 20px;
}

/* top nav bar styling */

.topshelf {
/* nav bar styling class */
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
    text-align: center;
}

.topshelf li {
    display: inline-block;
    margin: 0 15px;
}

.topshelf a {
    color: rgb(251, 251, 251);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    color:white;
    text-align: center;
}

h2 {
    color:white;
    text-align: center;
}

/* image gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 300px);

    justify-content: center;

    gap: 30px;
}

.gallery img {
    width: 300px;
    height: auto;
}